<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Adil Faiz</title>

    <link rel="shortcut icon" href="img/tab-icon.png">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/index.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="assets/mobile.css" media="screen" charset="utf-8">

    <link rel="stylesheet" href="assets/font-awesome-4.6.3/css/font-awesome.css" media="screen" title="no title" charset="utf-8">

    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>      <!--Cover Name Font-->
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>       <!--cover detail font-->
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'><!--slides heading-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet"><!--slides Content font -->
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'><!--Navbar font -->
    <link href='https://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'><!--Page Container Titles -->
    <link href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sarina" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Molle:400i|Yellowtail&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Qwigley" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet"> <!--Page container heading-->
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>



  </head>

  <body>

    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
   </div>





   <nav class="navbar navbar-inverse" id="navbar">
     <div class="container-fluid">
         <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="#">Overview</a></li>
            <li><a href="project.html">Projects</a></li>
            <li><a href="education.html">Education</a></li>
            <li><a href="ask.html">Contact</a></li>
         </ul>
      </div>
   </nav>





   <div class="slide-left-menu" id="slide-left-menu">
     <div class="sl-menu">
       <ul class="sl-menu-items" id="sl-menu-items">
         <li>
            <a title="Machine Learning" href="#" id="first-child">
              <span>machine learning</span></a>
         </li>
         <li>
           <a title="DeepLearning"href="#" id="second-child">
             <span>deep learning</span>
           </a>
         </li>
         <li><a title="Computer Vision"href="#" id="third-child">
              <span>computer vision</span>
            </a>
         </li>
         <li>
           <a href="#" id="fourth-child">
             <span>blog</span>
           </a>
         </li>
       </ul>
     </div>
   </div>
   <div class="burger" id="Burger">
     <i></i>
     <i></i>
     <i></i>
   </div>








    <div class="cover-page row" id="check">

       <div class="cover-container row">
         <div class="cover-name col-xs-12 col-md-12">
           <div class="col-md-12 col-xs-12">
             <h1 id="myself">Adil Faiz</h1>
           </div>

         </div>

         <div class="border-name col-xs-12 col-md-12 col-sm-12">
           <div class="border col-md-5 col-xs-9 col-sm-6">
           </div>
         </div>

         <div class="cover-detail col-xs-12 col-md-12 col-sm-12">
           <div class="detail col-md-5 col-xs-12 col-sm-6">
             <div class="col-md-5 col-xs-12 col-sm-5 d d1"><h2>Web Developer</h2></div>
             <div class="col-md-4 col-xs-12 col-sm-4 d d2"><h2>Programmer</h2></div>
             <div class="col-md-3 col-xs-12 col-sm-3 d d3"><h2>Learner</h2></div>
           </div>
         </div>

         <div class="social-class col-xs-12 col-sm-12 col-md-12">
           <div class="row-social">
              <ul class="social">
                  <li><a href="https://twitter.com/adilfaiz001" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.facebook.com/adilfaiz01" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="https://github.com/adilfaiz001" title="github"><i class="fa fa-github"></i></a></li>
                  <li><a href="https://in.linkedin.com/in/adil-faiz-651b10a7" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://www.instagram.com/adilfaiz01/" title="instagram"><i class="fa fa-instagram"></i></a></li>
                  <!--<li><a href="https://plus.google.com/u/0/102202590320347610655" title="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
                  <!--<li><a href=" https://dribbble.com/adilfaiz001" title="Dribble"><i class="fa fa-dribbble"></i></a></li>-->
                  <li><a href="http://www.last.fm/user/adilfaiz001" title="lastfm"><i class="fa fa-lastfm"></i></a></li>
              </ul>
          </div>
         </div>

         <div class="img-self col-xs-12 col-sm-12 col-md-12">
            <img src="img/img2.jpg" alt=""  class="img-circle" id="img-self"/>
         </div>

       </div>
    </div>










    <div class="page-container">

      <div class="about-box row">
        <div class="tht col-md-12 col-xs-12 col-sm-12">
          <div class="col-xs-12 col-md-12 col-sm-12">
            <p class="Quote">
            "For me, I am driven by two main philosophies: know more today about the
            world than I knew yesterday and lessen the suffering of others. You'd be
            surprised how far that gets you."
            </p>
            <a href="#" id="author">Neil deGrasse Tyson</a>
          </div>
        </div>



        <!--About Section -->
        <div class="about col-md-12 col-sm-12 col-xs-12">
          <div class="col-xs-12 col-md-12 col-sm-12">
            <h1 class="intro"><a href="#">about</a></h1>
            <p>
              Hi there, I am Adil Faiz, and this is my portfolio.
            <br>

            I am a front-end developer, and learning to become full stack developer.I am always looking for more and new things to learn and implement
            into developing new designs and applications through the art of programming.</br>
            I develop automated system using power of IoT and I am a Machine learning and Deplearning enthusiast.
            <br>
            </p>
          </div>

        <div class="about-2 col-xs-12 col-md-12 col-sm-12">
          <div class="profile-row col-md-12 col-sm-12 col-xs-12">
            <div class="profile-sec col-md-4 col-xs-12 col-sm-12">
              <section class="lazy-load-box effect-slidefromleft" data-delay="0" data-speed="800" style="transition: all 800ms ease; opacity: 1;">
                <div class="service-box">
                  <figure class="icon">
                    <i class="fa fa-star"></i>
                  </figure>
                  <div class="service-box_body">
                    <h2 class="title">Profile</h2>
                    <div class="service-box_text">
                    <p>
                      One of engineer kind but have urges of having knowledge and development all along the way of living and making life better for others and myself.

                    </p>
                    </div>

                  </div>

                </div>

              </section>

            </div>
            <div class="profile-sec col-md-4 col-xs-12 col-sm-12">
              <section class="lazy-load-box effect-slidefromleft" data-delay="0" data-speed="800" style="transition: all 800ms ease; opacity: 1;">
                <section class="">
                  <div class="service-box">
                    <figure class="icon">
                      <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    </figure>
                    <div class="service-box_body">
                      <h2 class="title">Address</h2>
                      <div class="service-box_text">
                        <p>
                          Still looking for some address to put here.
                        </p>
                      </div>

                    </div>

                  </div>

                </section>

              </section>

            </div>

            <div class="profile-sec col-md-4 col-xs-12 col-sm-12">
              <section class="lazy-load-box effect-slidefromleft" data-delay="0" data-speed="800" style="transition: all 800ms ease; opacity: 1;">
                <section class="">
                  <div class="service-box">
                    <figure class="icon">
                      <i class="fa fa-flag" aria-hidden="true"></i>
                    </figure>
                    <div class="service-box_body">
                      <h2 class="title">Hobby & Interest</h2>
                      <div class="service-box_text">
                        <p>
                          Dive into Music.<br/>
                          Gaming, specifically Injustice NFS COD <br/>
                          Travel and Explore .
                        </p>
                      </div>
                    </div>
                  </div>
                </section>
              </section>
            </div>

          </div>
        </div>
        </div>
      </div>
    </div>
<!-- About Section Ends -->






<!--==========================================Page Content==================================================-->
<div class="page-content row">



    <div class="slide1 parallax col-md-12 col-sm-12 col-xs-12" id="Header1">
      <div class="con-code col-md-12 col-sm-12 col-xs-12">
        <p class="cc1">Code &nbsp; </p><p class="cc1"> To &nbsp; </p><p class="cc1">Develop&nbsp;</p>
      </div>
    </div>


    <div class="space-2 col-md-12 col-sm-12 col-xs-12"></div>

    <div class="slide2 col-md-12 col-sm-12 col-xs-12" id="Header2">
      <div class="slide2-content col-md-12 col-sm-12 col-xs-12">
        <div class="hands-on col-md-4 col-sm-4 col-xs-12">
          <h1 id="pk-h1">Hands On</h1>
        </div>

        <div class="progress-on col-md-12 col-sm-12 col-xs-12">
          <div class="progress col-md-12 col-sm-12 col-xs-12">
            <div class="progress-bar progress-bar-striped py" style="width:0%">
              <span></span>
            </div>
            <div class="progress-bar progress-bar-striped jv" style="width:0%">
              <span></span>
            </div>
            <div class="progress-bar progress-bar-striped cp" style="width:0%">
              <span></span>
            </div>
            <div class="progress-bar progress-bar-striped c" style="width:0%">
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide3 parallax col-md-12 col-sm-12 col-xs-12" id="Header3">
      <div class="con-code2 col-md-12 col-sm-12 col-xs-12">
        <p class="cc2">Code&nbsp; </p><p class="cc2">To&nbsp;</p><p class="cc2">Web&nbsp;</p>
      </div>
    </div>

    <div class="slide4 col-md-12 col-sm-12 col-xs-12" id="Header4">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval='false'>
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>

          <!--  Wrapper Class -->
          <div class="carousel-inner">

              <div class="item active">
                <div class="web-skills">

                  <div class="web">
                    <h1 id="web-h1">Web</h1>
                    <h2 id="web-h2">Front End Dev</h2>
                  </div>

                  <div class="flex skills-wrapper">

                      <div class="bar flex">
                        <div class="fill f-1">
                          <div class="html tag flex">
                            HTML
                          </div>
                        </div>
                        <span>80%</span>
                      </div>

                      <div class="bar flex">
                        <div class="fill f-2">
                          <div class="css tag flex">
                            CSS
                          </div>
                        </div>
                        <span>70%</span>
                      </div>

                      <div class="bar flex">
                        <div class="fill f-3">
                          <div class="javascript tag flex">
                            Javascript
                          </div>
                        </div>
                        <span>60%</span>
                      </div>

                      <div class="bar flex">
                        <div class="fill f-4">
                          <div class="jQuery tag flex">
                            jQuery
                          </div>
                        </div>
                        <span>55%</span>
                      </div>

                      <div class="bar flex">
                        <div class="fill f-5">
                          <div class="react tag flex">
                            React
                          </div>
                        </div>
                        <span>10%</span>
                      </div>

                      <div class="bar flex">
                        <div class="fill f-6">
                          <div class="angular tag flex">
                            Angular
                          </div>
                        </div>
                        <span>10%</span>
                      </div>

                      <div class="bar flex">
                        <div class="fill f-8">
                          <div class="bootsrap tag flex">
                            Bootstrap
                          </div>
                        </div>
                        <span>50%</span>
                      </div>

                  </div>

                </div>
              </div>

              <div class="item">
                <div class="web-skills">

                  <div class="web">
                    <h1 id="web-h3">Web</h1>
                    <h2 id="web-h4">Back End Dev</h2>
                  </div>

                  <div class="flex skills-wrapper">

                      <div class="bar flex">
                        <div class="fill f2-1">
                          <div class="php tag flex">
                            PHP
                          </div>
                        </div>
                        <span>5%</span>
                      </div>

                      <div class="bar flex">
                        <div class="fill f2-2">
                          <div class="mysql tag flex">
                            MySQL
                          </div>
                        </div>
                        <span>30%</span>
                      </div>

                      <div class="bar flex">
                        <div class="fill f2-3">
                          <div class="django tag flex">
                            Django
                          </div>
                        </div>
                        <span>5%</span>
                      </div>

                      <div class="bar flex">
                        <div class="fill f2-4">
                          <div class="mongoDB tag flex">
                            mongoDB
                          </div>
                        </div>
                        <span>2%</span>
                      </div>

                      <div class="bar flex">
                        <div class="fill f2-5">
                          <div class="node tag flex">
                            Node.js
                          </div>
                        </div>
                        <span>50%</span>
                      </div>

                  </div>

                </div>
              </div>

          </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>

    <div class="footer col-md-12 col-sm-12 col-xs-12">
      <div class="foot-header col-md-12 col-sm-12 col-xs-12">
        <h1 class="get-in-1">Get in touch</h1>
        <p class="get-in-2">If you wanna talk or get in touch for about a project
           collaboration or just say hi, </br>
           just write straight away to me, let's chat ~
        </p>
      </div>
      <div class="lets-talk col-md-12 col-sm-12 col-xs-12" ng-app="">
        <form class="talk-form" action="index.html" method="post" autocomplete="off" name="Form">
          <ul class="input-block animated">
            <li class="name">
              <div class="label cf_">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 50 50" space="preserve" class="i-svg i-svg user">
                  <path d="M25,2.579c6.191,0,11.212,5.019,11.212,11.21C36.212,19.981,31.191,25,25,25 s-11.211-5.019-11.211-11.211C13.789,7.598,18.809,2.579,25,2.579z M25,30.604c-17.097,0-22.42,11.212-22.42,11.212v5.604h44.84 v-5.604C47.42,41.816,42.097,30.604,25,30.604z"
                    fill="#333333">
                    </path>
                  </svg>
                <label title="Name" data-text="Fill with your name" data-value="" id="label-1"><span class="fill-name" id="fill-animate"></span></label>
              </div>
                <input autocomplete="off" type="text" name="name" id="Name" ng-model="name" spellcheck="false" class="input-bar">
              <div class="box">
                <svg>
                  <line class="top-line    line1"   x1='0'   y1='0' x2='661' y2='0'>  </line>
                  <line class="left-line   line1"   x1='0'   y1='0' x2='0'   y2='47'> </line>
                  <line class="right-line  line1"   x1='662' y1='0' x2='662' y2='47'> </line>
                  <line class="bottom-line line1"   x1='0' y1='47' x2='662' y2='47' ></line>
                </svg>
              </div>
            </li>
            <div class="wrape-name wrap">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 50 50" space="preserve" class="i-svg i-svg user">
                <path d="M25,2.579c6.191,0,11.212,5.019,11.212,11.21C36.212,19.981,31.191,25,25,25 s-11.211-5.019-11.211-11.211C13.789,7.598,18.809,2.579,25,2.579z M25,30.604c-17.097,0-22.42,11.212-22.42,11.212v5.604h44.84 v-5.604C47.42,41.816,42.097,30.604,25,30.604z"
                  fill="#333333">
                </path>
              </svg>
              <a href="#" class="agl-anchor anchor1">
                <p id="agl-name">{{name}}</p>
              </a>
            </div>
            <li class="email">
              <div class="label cf_">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 50 50" space="preserve" class="i-svg i-svg mail">
                  <path d="M2.58,13.065L25.746,32.02l23.166-18.955V8.853H2.58V13.065z M2.58,38.862 l11.377-12.639L2.58,15.967V38.862z M48.912,39.173L37.214,26.267L48.912,16.12V39.173z M25.746,35.687l-9.477-7.879L2.58,42.55 h46.333L35.203,27.808L25.746,35.687z" fill="#333333">
                  </path>
                </svg>
                <label title="email" data-text="now your email address" data-value="" id="label-2"><span class="fill-email" id="fill-email-id"></span> </label>
              </div>
              <input autocomplete="off" type="text" name="email" id="Email" ng-model="email" spellcheck="false">
              <div class="box">
                <svg>
                  <line class="top-line line2"    x1='0'   y1='0' x2='661' y2='0'>  </line>
                  <line class="left-line line2"   x1='0'   y1='0' x2='0'   y2='47'> </line>
                  <line class="right-line line2"  x1='662' y1='0' x2='662' y2='47'> </line>
                  <line class="bottom-line line2" x1='0' y1='47' x2='662' y2='47' ></line>
                </svg>
              </div>
            </li>
            <div class="wrape-email wrap">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 50 50" space="preserve" class="i-svg i-svg mail">
                <path d="M2.58,13.065L25.746,32.02l23.166-18.955V8.853H2.58V13.065z M2.58,38.862 l11.377-12.639L2.58,15.967V38.862z M48.912,39.173L37.214,26.267L48.912,16.12V39.173z M25.746,35.687l-9.477-7.879L2.58,42.55 h46.333L35.203,27.808L25.746,35.687z" fill="#333333">
                </path>
              </svg>
              <a href="#" class="agl-anchor anchor2">
                <p id="agl-email">{{email}}</p>
              </a>
            </div>
            <li class="msg">
              <div class="label cf_ label3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 50 50" space="preserve" class="i-svg i-svg msg">
                  <path d="M47.811,7.352l-4.198-4.191 c-0.434-0.433-1.003-0.65-1.571-0.65c-0.569,0-1.139,0.216-1.571,0.649l-3.358,3.348l7.341,7.328l3.358-3.347 C48.678,9.623,48.678,8.217,47.811,7.352z M15.315,28.264l7.342,7.33l20.225-20.187l-7.343-7.33L15.315,28.264z M13.73,29.831 l-1.567,8.892l8.91-1.562L13.73,29.831z M34.026,42.685H6.344V15.003H25.88l4.814-4.805H4.646c-1.709,0-3.107,1.398-3.107,3.107 v31.077c0,1.71,1.398,3.108,3.107,3.108h31.078c1.709,0,3.107-1.398,3.107-3.108V22.164l-4.805,4.797V42.685z" fill="#333333">
                  </path>
                </svg>
                <label title="message" data-text="now write your awesome message :)" data-value="" id="label-3"> <span class="fill-message" id="fill-msg-id"></span> </label></div>
                <input autocomplete="off" type="text" name="email" id="Msg" ng-model="msg" spellcheck="false">
                <div class="box-3">
                  <svg>
                    <line class="top-line    line3"   x1='0'   y1='0' x2='828' y2='0'>  </line>
                    <line class="left-line   line3"    x1='0'   y1='0' x2='0'   y2='150'> </line>
                    <line class="right-line  line3"   x1='828' y1='0' x2='828' y2='150'> </line>
                    <line class="bottom-line line3"   x1='0' y1='149' x2='828' y2='149' ></line>
                  </svg>
                </div>
            </li>
            <div class="wrape-msg wrap">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 50 50" space="preserve" class="i-svg i-svg msg">
                <path d="M47.811,7.352l-4.198-4.191 c-0.434-0.433-1.003-0.65-1.571-0.65c-0.569,0-1.139,0.216-1.571,0.649l-3.358,3.348l7.341,7.328l3.358-3.347 C48.678,9.623,48.678,8.217,47.811,7.352z M15.315,28.264l7.342,7.33l20.225-20.187l-7.343-7.33L15.315,28.264z M13.73,29.831 l-1.567,8.892l8.91-1.562L13.73,29.831z M34.026,42.685H6.344V15.003H25.88l4.814-4.805H4.646c-1.709,0-3.107,1.398-3.107,3.107 v31.077c0,1.71,1.398,3.108,3.107,3.108h31.078c1.709,0,3.107-1.398,3.107-3.108V22.164l-4.805,4.797V42.685z" fill="#333333">
                </path>
              </svg>
                <a href="#" class="agl-anchor anchor3">
                  <p id="agl-msg">{{msg}}</p>
                </a>
            </div>
          </ul>

          <div class="submit">
            <!--Customized awesome button using react, learn react and build button here
    						<awesome-button color="teal" width="100">Next</awesome-button>
                <awesome-button color="teal" progress="true">Submit your message</awesome-button>
            -->
            <button type="button" name="button" class="b1 bb1"><span>NEXT</span></button>
            <button type="button" name="button" class="b2 bb2"><span>SUBMIT MESSAGE</span></button>
    			</div>
        </form>
      </div>
    </div>
</div>

  <script type="text/javascript" src="js/Home.js"></script>

  </body>
</html>
